version: "3.9"

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - RUN_MIGRATIONS=1
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery -A hotel_api worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - RUN_MIGRATIONS=0
      - TZ=America/Sao_Paulo
    depends_on:
      - redis
      - db

  celery-beat:
    build: .
    command: celery -A hotel_api beat -l info
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - RUN_MIGRATIONS=0
    depends_on:
      - redis
      - db

  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  pgdata:

